@{
    ViewBag.Title = "Условия за доставка";
}

   <div class="container"><h1>I. ОБЩИ ПОЛОЖЕНИЯ</h1>
    <p>
    1. Настоящият документ съдържа Общи условия, съгласно които ЕT”Никола Христов-
    Ели 1”предоставя услуги на потребителите/клиентите си посредством Интернет
    магазина www.myautobg.com. Тези условия обвързват всички потребители. С натискане
    на бутона „ДА”/”Yes” потребителят/клиентът се съгласява, изцяло приема и се
    задължава да спазва настоящите Общи условия.
</p>
    <p>
    2. Идентифициране на потребителя/клиента с цел възпроизвеждане на изявлението му
    както за приемане на Общите условия, така и за направената поръчка, се извършва чрез
    съхранените в лог - файлове на сървъра на /името на сайта/, съхранение на IP адреса на
    потребителя/клиента, както и всяка друга информация.
</p>
    <p>
    3. Продуктите, които се намират на интернет страницата на /името на сайта/ не
    представляват правно обвързваща оферта, а са по-скоро демонстративен онлайн
    каталог, описващ  продуктовата линия на търговеца.
</p>
    <p>
    4. След кликане на бутона &quot;поръчай&quot;, потребителите се съгласяват да закупят стоките,
    намиращи се в количка.
</p>
    <p>
    5. ЕT”Никола Христов-Ели 1”си запазва правото да направи
    отказ от доставка на потвърдена поръчка в случай, че стоките не са достъпни. При
    липса на складова наличност от заявената стока, в рамките на работната седмица .
    ЕT”Никола Христов-Ели 1”уведомява потребителя за изчерпването й чрез изпращане
    на съобщение до посочения от клиента електронен адрес или на посочения телефонен
    номер. В случай, че е направен превод по сметката на търговеца, клиентът ще може да
    избира между възстановяване на сумите, отказ от поръчката или чрез заместваща
    поръчка.
</p>
    <p>
    6. Договорният език е български или английски, а плащанията  ще  бъдат  извършвани  
    в  български левове или евро с ДДС.
</p>
    <h1>
    II. ДОСТАВКА</h1>
    <p>7. Потребителят носи изцяло риска от повреждане/загубване на стоката при
    доставката. Веднага след предаване на стоката на куриер, www.myautobg.com се
    освобождава от риска, който се прехвърля върху потребителя/клиента.
    www.myautobg.com не носи отговорност  за закъснение в случай, че закъснението се
    дължи на куриер или друг доставчик.</p>
    <p>
    8. Веднага след доставката, стоките следва да бъдат прегледани внимателно от
    потребителя/клиента или упълномощено от него лице. Евентуални повреди, удари и
    други щети следва да бъдат докладвани незабавно на www.myautobg.com. В случай, че
    бъде установено наличие на щети, които са се получили при транспортирането на
    стоката, www.myautobg.com не носи отговорност за гаранционното обслужване на тази
    стока. В случаите когато от www.myautobg.com са зададени в писмена форма
    конкретни дата и час за доставка, изявлението има обвързваща сила. При посочени
    неверен или сгрешен адрес, лице за контакти и/или телефон при подаване на заявката
    www.myautobg.com не е обвързан от каквото и да е задължение за изпълнение на
    поръчката.
</p>
    <p>
    8а. При предаване на стоката потребителят/клиентът или трето лице подписват
    придружаващите я документи. За трето лице се счита всеки, който не е титуляр на
    заявлението, но приема стоката на доставка и е на посочения от клиента адрес.
    При отказ за получаване на стоката, извън случаите описани по-долу, отказът се счита
    за неоснователен и Клиентът дължи заплащане на разходите за доставка и връщане на
    стоката. В случай, че Клиентът не бъде намерен в срока за изпълнение на доставката на
    посочения адрес или не бъде осигурен достъп и условия за предаване на стоката в този

    срок, www.myautobg.com се освобождава от задължението си да достави заявената за
    покупка стока.
</p>
    <p>
    8б. Когато доставената стока явно не съответства на заявената за покупка от Клиента
    стока и това може да се установи чрез обикновения й преглед,
    Клиентът може да иска доставената му стока да бъде заменена със съответстваща на
    направеното от него заявление за покупка в срок от 24 часа от получаването й.
</p>
    <h1>III. ГАРАНЦИОННИ СРОКОВЕ</h1>
    <p>
    www.myautobg.com предлага гаранционен документ на своите клиенти за дадена
    закупена стока, ако такъв документ е осигурен от производителя на стоката. В
    документа са описани: адрес и телефон на оторизираните сервизи на закупената стока
    гаранционните условия на съответните сервизни центрове или производители
    гаранционен срок на закупената от потребителя/клиента стока.
</p>

    <h1>IV. ЦЕНИ</h1>
       <p>
           9. Цените, посочени на сайта не включват опаковане и транспортиране до клиента
           Транспортът при изрично упоменати такива условия е безплатен. В случай, че стоките
           се изпращат извън територията на Република България, потребителят/клиентът следва
           да заплати всички митнически и др. такси, свързани с износа.
       </p>
    <h1>V. ПРАВА И ЗАДЪЛЖЕНИЯ НА ПОТРЕБИТЕЛЯ/КЛИЕНТА</h1>
       <p>
           10. Потребителят/клиентът има възможност да разглежда и да поръчва обявените стоки
           на Интернет магазина www.myautobg.com .
       </p>
       <p>
           11. Потребителят/клиентът има право да се информира за състоянието на своята
           поръчка.
       </p>
       <p>
           12. Потребителят/клиентът носи пълна отговорност за опазването на своето
           потребителско име и парола, както и за всички действия, които се извършват от него
           или от трето лице чрез използване на потребителското име и паролата. Потребителят е
           длъжен незабавно да уведомява www.myautobg.com  за всеки случай на неправомерен
           достъп чрез използване на неговото потребителско име и парола,ако е въвел такива,
           както и винаги, когато съществува опасност от такова използване.
       </p>
       <p>
           13. Потребителят е длъжен да заплати цената на поръчката си според обявеният начин
           на страницата www.myautobg.com
       </p>
       <p>
           14.  Всеки потребител, независимо дали е клиент на www.myautobg.com  се задължава
           при ползване на услугите:
           •    да не нарушава и да зачита основните права и свободи на гражданите и правата на
           човека, съгласно Конституцията и законите на Република България и признатите
           международни актове;
           •    да не накърнява доброто име на другиго и да не призовава към насилствена промяна
           на конституционно установения ред, към извършване на престъпление, към насилие
           над личността или към разпалване на расова, национална, етническа или религиозна
           вражда;

           •    да не нарушава чужди имуществени или неимуществени, абсолютни или
           относителни права и интереси, като право на собственост, право на интелектуална
           собственост и др.;
           •    да спазва българското законодателство, приложимите чужди закони, правилата на
           морала и добрите нрави и Интернет етиката при ползване на предоставяните от
           www.myautobg.com услуги;
           •    да уведомява незабавно www.myautobg.com  за всеки случай на извършено или
           открито нарушение при използване на предоставяните услуги;
           •    да не зарежда, изпраща, предава, разпространява или използва по какъвто и да било
           начин и да не прави достояние на трети лица софтуер, компютърни програми, файлове,
           приложения или други материали, съдържащи компютърни вируси, системи за
           неоторизиран отдалечен контрол ,компютърни кодове, или материали, предназначени
           да прекъсват, затрудняват, нарушават или ограничават нормалното функциониране на
           компютърен хардуер или софтуер или телекомуникационните съоръжения или имащи
           за цел неоторизирано проникване или достъп в чуждестранни ресурси или софтуер;
           •    да не извършва злоумишлени действия;
           •    да обезщети www.myautobg.com и всички трети лица за всички претърпени вреди и
           пропуснати ползи, включително за всякакви разходи и платени адвокатски
           възнаграждения, настъпили вследствие на предявени искове от и/или платени
           обезщетения на трети лица във връзка с Интернет страници, хипер-връзки, материали
           или информация, които Потребителят е използвал, разположил на сървъра, изпращал,
           разпространявал, направил достояние на трети лица или направил достъпни чрез /
           www.myautobg.com / в нарушение на закона, настоящите Общи условия, Добрите нрави
           или Интернет етиката;
       </p>
       <p>
           14а.  Клиентът се задължава да посочи точен и валиден телефон, адрес за доставка и
           електронен адрес, да плати цената на стоката, да заплати разходите по доставката,
           когато същата не е безплатна и да осигури достъп и възможност за получаване на
           стоката. В случай, че изрично не е посочено, че доставката е безплатна , същата се
           счита за възмездна.
       </p>
    <h1>VI. ПРАВА И ЗАДЪЛЖЕНИЯ НА ТЪРГОВЕЦА</h1>
       <p>
           15. www.myautobg.com  няма задължението и обективната възможност да контролира
           начина, по който потребителите използват предоставяните услуги.
       </p>
       <p>
           16. www.myautobg.com  има право, но не и задължение да запазва материали и
           информация, разположени на сървъра на / www.myautobg.com /.  
       </p>
       <p>
           17. www.myautobg.com има право по всяко време, без уведомяване на
           Потребителя/клиента, когато последният ползва услугите в нарушение на настоящите
           условия, както и по преценка на www.myautobg.com да прекрати, спре или промени
           предоставяните услуги във връзка с ползването на сайта. www.myautobg.com не носи
           отговорност спрямо потребителите и трети лица за претърпени вреди и пропуснати
           ползи, настъпили вследствие прекратяването, спирането, променянето или
           ограничаването на услугите, изтриването, модифицирането, загубването,
           недостоверността, неточността, или непълнотата на съобщения, материали или
           информация, пренасяни, използвани, записвани или станали достъпни чрез /името на
           сайта/.
       </p>
       <p>
           17а. www.myautobg.com  след получаване на плащането се задължава да прехвърли на
           потребителя/клиента собствеността на заявената за покупка от него стока, да достави в
           срок заявената за покупка стока, да проверява за техническа изправност всеки артикул
           преди да бъде изпратен (в случай, че това е възможно, без да се нарушава целостта на
           опаковката).
       </p>

       <p>
           18. www.myautobg.com не носи отговорност за вреди, причинени върху софтуера,
           хардуера или телекомуникационните съоръжения, или за загуба на данни, произтекли
           от материали или ресурси, търсени, заредени или използвани по какъвто и да било
           начин посредством предоставяните услуги. Съветите, консултациите или помощта,
           оказани от специалистите и служителите на www.myautobg.com  във връзка с
           ползването на услугите от потребителите, не поражда каквато и да било отговорност
           или задължения за www.myautobg.com. Дружеството не носи отговорност при
           невярност на посочената от производителя информация за стоката.
       </p>
       <p>
           19 www.myautobg.com  има право да събира и използва информация отнасяща се до
           неговите клиенти, независимо дали са регистрирани с цел
       </p>
       <p>
           20. Информацията по предходния член може да бъде използвана от www.myautobg.com,
           освен в случай на изрично несъгласие на Потребителя, изпратено на следния e-mail
           адрес pbautoglobal@gmail.com
       </p>
       <p>
           21. www.myautobg.com  не носи отговорност за неизпълнение на задълженията си по
           този договор при настъпване на обстоятелства, които www.myautobg.com не е
           предвидил и не е бил длъжен да предвиди – вкл., случаи на случайни събития,
           проблеми в глобалната мрежа на Интернет и в предоставянето на услугите извън
           контрола на www.myautobg.com 
       </p>
       <p>
           22. www.myautobg.com  има право да инсталира на компютрите на потребителите
           кукита (cookies). Кукитата представляват текстови файлове, които се запазват от
           Интернет страницата върху твърдия диск на Потребителя и позволяват възстановяване
           на информация за Потребителя, като го идентифицират и позволяват проследяване на
           действията му, Интернет страниците, които посещава, хипер-връзките, които използва,
           информацията, която ползва и записва и други.
       </p>

    <h1>VII. ЛИЧНИ ДАННИ</h1>

       <p>
           23 www.myautobg.com гарантира на своите Потребители/клиенти конфиденциалността
           на предоставената информация и лични данни. Последните няма да бъдат използвани,
           предоставяни или довеждани до знанието на трети лица извън случаите и при
           условията, посочени в настоящите Общите условия. www.myautobg.com  защитава
           личните данни на потребителя/клиента, станали му известни при попълване на
           електронната форма за извършване на заявление за покупка, като това задължение
           отпада в случай, че Клиентът е предоставил неверни данни. При спазване на
           действащото законодателство и клаузите на настоящите Общи условия,
           www.myautobg.com може да използва личните данни на Клиента единствено и само за
           целите, предвидени в договора. Всякакви други цели, за които се използват данните, ще
           бъдат съобразени с българското законодателство, приложимите международни актове,
           Интернет етиката, правилата на морала и добрите нрави.
       </p>
       <p>
           23а www.myautobg.com се задължава да не разкрива никакви лични данни за Клиента
           на трети лица - държавни органи, търговски дружества, физически лица и други, освен
           в случаите когато е получил изричното писмено съгласие на Клиента, информацията е
           изискана от държавни органи или длъжностни лица, които според действащото

           законодателство са оправомощени да изискват и събират такава информация.
           www.myautobg.com  е длъжен да предостави информацията по силата на закона.
       </p>
    <h1>VIII. ИЗМЕНЕНИЯ</h1>
       <p>
           24 Общите условия могат да бъдат променяни по всяко време от www.myautobg.com  ,
           което има право и да променя характеристиките на предоставяните услуги и
           настоящите Общи условия и на основание промени в законодателството. ТЪРГОВЕЦА 
           се задължава да уведоми Потребителя за промените в Общите условия, като на видно
           място в Интернет страницата си публикува съобщение за измененията им и даде
           достатъчен срок да се запознае с тях. В дадения срок, ако Потребителя не заяви, че
           отхвърля промените, то той се счита обвързан от тях. В случай, че Потребителя заяви в
           дадения срок, че не е съгласен с промените, то www.myautobg.com  има право веднага
           да спре или прекрати предоставянето на услугите на Потребителя.
       </p>
    <h1>IX. ТЕРМИНОЛОГИЯ</h1>
       <p>
           25. Под “Потребител/клиент” се разбира всеки, който е заредил в Интернет страницата /
           www.myautobg.com / на своя компютър.
       </p>
       <p>
           26. Под “Поръчка” се разбира избраните стоки и всички други атрибути свързани с
           начина на доставка и заплащане на стоката от клиента/потребителя.
       </p>
       <p>
           27. Интернет магазина  / www.myautobg.com / е собственост на ЕТ”НИКОЛА
           ХРИСТОВ –ЕЛИ 1”
       </p>
       <p>
           28. Всички спорове между страните се решават в дух на разбирателство и добра воля. В
           случай, че съгласие не бъде постигнато, всички неразрешени спорове, включително
           спорове, породени или отнасящи се до тълкуването му, недействителност, изпълнение
           или прекратяване, както и спорове за попълване на празноти в договора или
           приспособяването му към нововъзникнали обстоятелства, ще бъдат разрешавани от
           компетентния съд по регистрация на ЕТ”НИКОЛА ХРИСТОВ –ЕЛИ 1”,
           съобразно българското законодателство.
       </p>
    </div>